{% extends "home/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block search_result %}
    <div class="col-md-12">
        <h1>Search results</h1>
        {% if search_results %}
        <ol>
            {% for result in search_results %}
            <li>
                <a href="{% pageurl result %}">{{ result }}</a>
                {% if result.search_description %}
                {{ result.search_description }}
                {% endif %}
            </li>
            {% endfor %}
        </ol>

        {% if search_results.has_previous %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
        {% elif search_query %}
        No results found
        {% endif %}
    </div>
{% endblock %}
